<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Grommet_ApiLog>
			<version>1.0.0</version>
		</Grommet_ApiLog>
	</modules>
	<global>
		<models>
			<apilog>
				<class>Grommet_ApiLog_Model</class>
				<resourceModel>apilog_resource</resourceModel>
			</apilog>
			<apilog_resource>
				<class>Grommet_ApiLog_Model_Resource</class>
				<entities>
					<event>
						<table>apilog_event</table>
					</event>
				</entities>
			</apilog_resource>
			<api>
				<rewrite>
					<server>Grommet_ApiLog_Model_Api_Server</server>
					<server_handler>Grommet_ApiLog_Model_Api_Server_Handler</server_handler>
					<server_v2_handler>Grommet_ApiLog_Model_Api_Server_V2_Handler</server_v2_handler>
					<!--server_wsi_handler>Grommet_ApiLog_Model_Api_Server_WSI_Handler</server_wsi_handler-->
				</rewrite>
			</api>
		</models>
		<helpers>
			<apilog>
				<class>Grommet_ApiLog_Helper</class>
			</apilog>
		</helpers>
		<blocks>
			<apilog>
				<class>Grommet_ApiLog_Block</class>
			</apilog>
		</blocks>
		<resources>
			<apilog_setup>
				<setup>
					<module>Grommet_ApiLog</module>
				</setup>
			</apilog_setup>
		</resources>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<apilog>
					<file>apilog.xml</file>
				</apilog>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<apilog before="Mage_Adminhtml">Grommet_ApiLog_Adminhtml</apilog>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<crontab>
        <jobs>
            <apilog_clean>
                <schedule>
					<config_path>system/apilog/clean_schedule</config_path>
				</schedule>
                <run>
					<model>apilog/cron::clean</model>
				</run>
            </apilog_clean>
		</jobs>
	</crontab>
	<default>
		<system>
			<apilog>
				<enabled>1</enabled>
				<log_response>0</log_response>
				<lifetime>14</lifetime>
				<clean_schedule>0 3 * * *</clean_schedule>
			</apilog>
		</system>
	</default>
</config>